.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0b1c2c;
  /* padding: 12px 12px; */
  color: white;
  gap: 10px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  cursor: pointer;
  color: #4da6ff;
  margin-left: 10px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links p {
  cursor: pointer;
  transition: 0.2s;
}

.nav-links p:hover {
  color: #4da6ff;
  transform: scale(1.1);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search {
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
  height: 20px;
  margin-right: 50px;
}

.profile img {
  border-radius: 30%;
  cursor: pointer;
  margin-right: 40px;
  width: 40px;
}

.dropdown {
  position: absolute;
  top: 60px;
  right: 20px;
  background: #1f2d3d;
  padding: 12px;
  border-radius: 10px;
  width: 200px;
}

.dropdown p {
  padding: 8px;
  cursor: pointer;
  align-self: center;
  justify-self: center  ;
  transition: (4s);
}

.dropdown p:hover {
  transform: scale(1.4);
  border-radius: 5px;
}
.dropdown h1
{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
  justify-self: center;
  align-self: center;
}
.logout {
  color: red;
}