/* Layout */
.detail-container {
  display: flex;
  height: calc(100vh - 70px);
}

/* LEFT */
.question-left {
  width: 50%;
  padding: 25px;
  overflow-y: auto;
  border-right: 1px solid #e5e7eb;
}

/* RIGHT */
.editor-right {
  width: 50%;
  display: flex;
  flex-direction: column;
}

/* 🔝 Editor Header */
.editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f2937;
  padding: 10px 15px;
  border-bottom: 1px solid #374151;
}

/* Dropdown */
.language-select {
  background: #111827;
  color: white;
  border: none;
  padding: 6px  2px;
  border-radius: 5px;
}

/* Buttons */
.editor-actions button {
  margin-left: 10px;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Run */
.run-btn {
  background: #2563eb;
  color: white;
}

/* Submit */
.submit-btn {
  background: #16a34a;
  color: white;
}

/* Hover */
.run-btn:hover {
  background: #1d4ed8;
}

.submit-btn:hover {
  background: #15803d;
}

.detail-container {
  display: flex;
  height: calc(100vh - 70px);
}

/* LEFT */
.question-left {
  width: 50%;
  min-width: 300px;
  padding: 20px;
  overflow-y: auto;
}

/* RESIZER BAR */
.resizer {
  width: 6px;
  cursor: col-resize;
  background: #e5e7eb;
}

.resizer:hover {
  background: #9ca3af;
}

/* RIGHT */
.editor-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.testcase-panel {
  height: 40%;
  background: #2b2b2b;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.testcase-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tab {
  background: #333;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.tab.active {
  background: #6366f1;
}

.close {
  margin-left: 6px;
  color: red;
  cursor: pointer;
}

.add-case {
  background: #0b0b0b;
  color: white;
  border: none;
  padding: 5px 10px;
}

textarea {
  flex: 1;
  background: #fff7f7;
  color: black;
  border-radius : 5px;
  padding: 10px;
  border: none;
}

.output-box pre  {
  background: #d4d1d1;
  color: black;
  border-radius : 5px;
  padding: 10px;
}

.output-box h4
{
  color : white; 
}

.meta {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.company {
  padding: 4px 10px;
  margin : 0px 5px;
  background: #e5e7eb;
  border-radius: 6px;
}

.section{
  background: #e5e7eb;
  border-radius: px;
  margin-left: 6px;
  border:10px;
}